* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-image: url("./assets/bg-mobile.jpg");
  --switch-icon: url("./assets/moon-stars.svg");
  --text-color-dark-mode: #FFF;
  --stroke-color-dark-mode: rgba(255, 255, 255, 0.5);
  --surface-color-dark-mode: rgba(255, 255, 255, 0.1);
  --surface-color-dark-mode-hover: rgba(255, 255, 255, 0.05);
  --highlight-color-dark-mode: #8c52ff;
}

.light {
  --background-image: url("./assets/bg-mobile-light.jpg");
  --switch-icon: url("./assets/sun.svg");
  --text-color-dark-mode: #000;
  --stroke-color-dark-mode: rgba(0, 0, 0, 0.5);
  --surface-color-dark-mode: rgba(0, 0, 0, 0.1);
  --surface-color-dark-mode-hover: rgba(0, 0, 0, 0.05);
  --highlight-color-dark-mode: #8c52ff;
}

body { 
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background-image) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color-dark-mode);
}

#container {
  max-width: 424px;
  margin: 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

#switch {
  width: 64px;
  position: relative;

  /* Está fazendo o alinhamento central do switch. */
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: #FFF var(--switch-icon) no-repeat center;
  border: 0;
  border-radius: 50%;

  /* Essas instruções define que o botão fique na camada 1. */
  position: absolute;
  z-index: 1;

  /* Essas instruções fazem com que o button e o span se alinhei ao centro. */
  top: 50%;
  transform: translateY(-50%);

  left: 0;

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards; 
}

#switch button:hover {
  outline: 8px solid var(--highlight-color-dark-mode);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color-dark-mode);
  border: 2px solid var(--stroke-color-dark-mode);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#links ul {
  list-style: none;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#links li a {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 16px 24px;
  background: var(--surface-color-dark-mode);

  border: 2px solid var(--stroke-color-dark-mode);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

#links li a:hover {
  background: var(--surface-color-dark-mode-hover);
  border: 2px solid #8c52ff;
}

#links ion-icon {
  font-size: 24px;
  color: #8c52ff;
}

#social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  padding: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color-dark-mode);
}

footer {
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

footer ion-icon {
  font-size: 14px;
  color: #8c52ff;
}

footer a:hover {
  font-weight: 500;
  color: #8c52ff;
  transition: 0.2s;
}

/* media queries */
@media (min-width: 700px) {
  :root {
    --background-image: url("./assets/bg-desktop.jpg");
  }

  .light {
    --background-image: url("./assets/bg-desktop-light.jpg");
  }
}

/* animations */
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  } 
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}

.slider-container {
  width: 100%;
  height: 100vh;

  display: flex;
  gap: 24px;
}

.first-slide img {
  width: 324px;
  height: 324px;

  margin-top: 96px;

  border-radius: 14px;
  border: 5px solid var(--highlight-color-dark-mode);
}

.second-slide img {
  width: 324px;
  height: 424px;

  margin-top: 240px;

  border-radius: 14px;
  border: 5px solid var(--highlight-color-dark-mode);
}

.third-slide img {
  width: 324px;
  height: 324px;

  margin-top: 144px;
  
  border-radius: 14px;
  border: 5px solid var(--highlight-color-dark-mode);
}
